@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: auto;
}
body {
  background: #ededed;
}
#__next {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
